* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

.red-box {
    height: 100vh;
    background-color: red;
}

.green-box {
    height: 100vh;
    background-color: green;
}

.yellow-box {
    height: 100vh;
    background-color: yellow;
}